<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwh.mapper.SysPermissionMapper">

    <select id="findMenusByUserID" resultType="com.hwh.po.SysPermission" parameterType="int">
        select p.*
        from sys_permission p
        inner join sys_role_permission rp on p.id = rp.sys_permission_id
        inner join sys_role r on rp.sys_role_id = r.id
        inner join sys_user_role ur on r.id = ur.sys_role_id
        inner join sys_user u on ur.sys_user_id = u.id
        where
        p.type = 'menu'
        and u.id = #{userID}
    </select>

    <select id="findPermissionByUserID" resultType="com.hwh.po.SysPermission" parameterType="int">
        select *
        from sys_permission
        where type = 'permission'
        and id in(
         select sys_permission_id
         from sys_role_permission
         where
         sys_role_id in (
            select sys_role_id
            from sys_user_role
            where
            sys_user_id = #{userID}
         )
        )
    </select>
</mapper>